.c-card{
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}
.c-card:hover{
    background-color: #384144!important;
}
.c-card:hover > .c-card-body{
    scale: 1.1!important;
    transition: 0.2s;
}